@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    --sb-track-color: #232E33;
    --sb-thumb-color: #199e00;
    --sb-size: 9px;
}

*::-webkit-scrollbar {
    width: var(--sb-size)
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}